.pad {
  width: 100%;
  margin: 0 auto;
}

.robdog {
  color: var(--text-color-inset-primary);
  font-size: xx-large;
  padding-bottom: 3rem;
  text-shadow: var(--text-visibility);
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
}

.rob-addon {
  text-shadow: var(--text-visibility);
  color: var(--text-color-inset-primary);
  padding: 3rem 0 2rem 0;
  font-size: xx-large;
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
}

.fa-home {
  color: var(--text-color-inset-primary);
}

.active {
  color: rgb(47, 87, 114) !important;
}

.nav-active {
  color: rgb(47, 87, 114) !important;
}
