.sidebar-title {
  color: var(--text-color-inset-primary);
  font-family: 'Patua One', cursive;
  letter-spacing: 0.5px;
}

.sidebar-item:not(li:last-child)::after {
  content: '';
  display: block;
  height: 1px;
  width: 4rem;
  background: #c9d1d9;
  margin: 0.42rem auto 0 auto;
  opacity: 1;
}

.rob a:not([href]) {
  cursor: pointer;
  color: #c9d1d9;
  text-decoration: none;
}

ul {
  padding: 0;
}
