:root {
  --main-bg-color: #090c10;
  --main-bg-color-inset: #0d1117;
  --main-bg-color-light: #161b22;
  --text-color-inset-primary: #c9d1d9;
  --text-color-inset-secondary: #d8dfe7;
  --text-visibility: 0.05em 0 black, 0 0.05em black, -0.05em 0 black,
    0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black,
    0.05em -0.05em black, 0.05em 0.05em black;
}

.homeView {
  padding-top: 10rem;
}

.navbar {
  background-color: var(--main-bg-color);
}

.sidebar {
  background-color: var(--main-bg-color);
}

body {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body:not(.sidebar) {
  font-family: 'Signika Negative', sans-serif;
}
